*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


.pup{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20rem;
    padding: 0 5rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 500px;
    margin: 0 0 0 50px ;
}

.pro{
    width: 100px;
}

.login-container{
    display: flex;
    align-items: center;
    text-align: center;
}

form{
 width: 360px;
}

form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: maroon;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content:'';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: maroon;
    transition: .3s;
}

.input-div::after{
    right: 50%;
}

.input-div:before{
    left: 50%;
}

.input-div.focus .i i{
    color: maroon;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before{
    width: 50%;
}

.input-div.one{
    margin-top: 0;
}

.input-div.two{
    margin-bottom: 4px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    color: #d9d9d9;
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.forgetpass{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.forgetpass:hover{
    color:firebrick;
}

.select2{

    display: block;
    padding: 8px 12px;
    color:white;
    background-color: maroon;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.select2:hover{
    background-color: firebrick;
    color: white;
}


.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 0.2rem 0;
    font-size: 1rem;
    outline: none;
    background-color: maroon;
    color:white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    background-color: firebrick;
}



@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width:1000px){
    form{
        width: 290px;
    }
    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}

@media screen and (max-width:900px){
    .img{
        display:none;
    }
    .container{
        grid-template-column: 1fr;
    }
    .pup{
        display: none;
    }
    .login-container{
        justify-content: center;
    }
}