

.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* overflow:auto; */
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background-color: #f4f4f4;
    margin: 5px auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
   
}
.modal-header{
    background-color:maroon;
    padding: 15px;
    color: white;
}
.modal-header h2{
    margin: 0;
}
.modal-body{
    padding: 10px 20px;
}
.modal-footer{
 padding: 10px;
 background-color: maroon;
}
.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
    color: white;
}
.closeBtn:hover,.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnSubmit{
    background: maroon;
    border-style: none;
    color: white;
    padding: 0.5em 2em;
}

.btnSubmit:hover{
    background-color: firebrick;
    cursor: pointer;
}
.reset{
    background: maroon;
    border-style: none;
    color: white;
    padding: 0.5em 2em;
}

.reset:hover{
    background-color: firebrick;
    cursor: pointer;
}

#input_text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid firebrick;
    box-sizing: border-box;
  }

input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid firebrick;
    box-sizing: border-box;
  }
.select{
    padding: 8px 12px;
    color:white;
    background-color: maroon;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.select:hover{
    background-color: firebrick;
    color: white;
}
.select option:hover{
    background-color: firebrick;
}
#simplePrompt{
    display: none;
    position: absolute;
    z-index: 20;
    
}


  